h1 {
    color: (255, 255, 215, 0);
    background-color: rgb(244, 193, 54);
    text-align: center;
    font-size: 40px;
}


body{
    background-color: rgb(0, 0, 0);
}

a {
    color: rgb(250, 247, 247);
    background-color: rgb(244, 193, 54);
    font-weight: 700;
    text-decoration: none;
    padding: 16px;
    margin: 24px;
    border: 1px rgb(249, 248, 248) (220, 223, 7);
    border-radius: 6px;
    display: block;
    border-radius: 10%;
}

a:hover{
    background-color: #434244;
}

div {

     background-color: rgb(39, 38, 39);
     padding: 12px;
     margin: 24px auto;
     color: rgb(250, 247, 247);
     width: 80%;
     text-align: center;
}

    img {
        width: 80%;
    }

    li{ 
        font-size: 25px;
    }

    h2{
        background-color: rgb(61, 60, 62);
        margin: 0 auto;
        width: 80%;
        border-radius: 8px;
        padding: 8px;
    }

    img {
        width: 80%;
        text-align: center;
    }
    
    h3{
        font-size: 150%;
        width: 100%;
        text-align: center;
    }

    h5{
        font-size: 150%;
    }

   
    