h1 {
    color: rgb(66, 36, 175);
    background-color: rgb(11, 11, 0);
    text-align: center;
    font-size: 40px;
}


body{
    background-color: rgb(66, 36, 175);
}

a {
    color: rgb(250, 247, 247);
    background-color: rgb(66, 36, 175);
    font-weight: 700;
    text-decoration: none;
    padding: 16px;
    margin: 24px;
    border: 1px rgb(249, 248, 248) (220, 223, 7);
    border-radius: 6px;
    display: block;
    border-radius: 10%;
}

div {

     background-color: rgb(1, 0, 12);
     padding: 12px;
     margin: 24px auto;
     color: rgb(250, 247, 247);
     width: 80%;
     text-align: center;
}

    img {
        width: 100%;
    }

    li{ 
        font-size: 25px;
    }

    h2{
        background-color: rgb(66, 36, 175);
        margin: 0 auto;
        width: 20%;
        border-radius: 8px;
        padding: 8px;
    }

    img{
        width: 100%;
    }
    